<div class="grid-container">
    <div class="game">
        <div>
            <img src="assets\fallout2title.jpg" width = "220" height = "80">
        </div>
        <p>This is one of my favourite games of all time.</p>
        <a href="https://store.steampowered.com/agecheck/app/38410/" class="link">Buy Fallout 2 on Steam!</a>
        <div>
            <img src="assets\fallout2.jpg">
        </div>
        <div [hidden]="visibility">
            <iframe src="https://youtube.com/embed/8RIfDYdzNIk">
</iframe>
        </div>
        <div>  <button class="btn" (click)="toggleVisibility()">See intro!</button></div>
    </div>    
  </div>

  <button class="btn" (click)="toggleVisibility()">See intro!</button>
<br>