/* .grid-container {
    margin: 0 auto;
    width: 90%;
    /* background-image: url("../../../assets/universe.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

/* h3,
h2,
p,
li {
    color: antiquewhite;
} */